body {
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    font-family: 'Inter', sans-serif;
    margin: 0;
}

.top a{
    position:relative;
    z-index:2;
    font-size:17px;
    color:#000000;
    margin: 0 auto;
    width:80%;
    padding:5;
    letter-spacing:1px;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    font-weight: bold;
}

header {
    border:0rem;
    border-bottom: #E0E0E0;
    border-style: solid;
}

header::after {
    content: '';
    display: table;
    clear: both;
}



.top_menu {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-bottom: 10px;
    float: left;
    cursor: pointer;
    margin-left:2rem;
}

.top_menu li {
    display: inline-block;
    margin-left: 2.5rem;
    padding-top: 1.5rem;
    margin-top: 1rem;
    position: relative;
}

.signupbutton{
    margin-right: 1rem;
    margin-top: 1.5rem;
    padding: 15px;
    float: right;
    /* display: inline-block; */
    background-color: #4353FF;
}
.signupbutton a{
    color:#FFFFFF;
}
.loginbutton{
    margin-right: 1rem;
    margin-top: 1.5rem;
    padding: 15px;
    /* float: right; */
    display: inline-block;
    background-color: #E4E4E4;
}
.loginbutton a{
    color:#4353FF;
}
.top_menu li:hover {
    color: #000;
}

.top_menu li::before {
    content: '';
    display: block;
    height: 5px;
    background-color: #444;

    position: absolute;
    top: 0;
    width: 0%;

    transition: all ease-in-out 250ms;
}
.signupbutton:hover {
    background-color: #5d6aff;
}

.loginbutton:hover {
    background-color:#cfcfcf;
}

.top_menu li:hover::before {
    width: 100%;
}

header h3 {
    font-size: 1.5rem;
    float: left;
    color:#000000;
    padding: 10px 0;
    margin-left: 2rem;
}

.below_menu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.below_menu_button {
    margin-right: 4rem;
    margin-top: 1rem;
    padding: 1rem;
    display: inline-block;
    background-color: #4353FF;
}
.below_menu_button a {
    color:#FFFFFF;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    letter-spacing: 0.1rem;
}
.intro_text{
    display: flex;
    font-size: 1.5rem;
    margin-right: 15rem;
    margin-top: 8rem;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    color: #255BAD;
}

.below_left{
    display: flex;
    flex-direction: row;
    margin-left: 5rem;
    font-size: 5rem;
    margin-top: 2rem;
}

.intro{
    display: flex;
    justify-content: center;
    font-size: 2rem;
    margin-top: 4rem;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5rem;
    color:#FFFFFF;
    margin-top: 40rem;
    font-weight: bolder;
    text-align: center ;
    font-family: 'Secular One', sans-serif;
  }
.intro img{
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.content{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.cont_left{
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    margin-top: 7rem;
    margin-right: 2rem;
}
.cont_left_big {
    font-size: 3rem;
    font-weight: bold;
}
.cont_left_small {
    margin-top: 1rem;
    font-size: 1.5rem;
}
.cont_left img{
    margin-right: 1rem;
    margin-top: 5rem;
}
.cont_right{
    display: flex;
    flex-direction: column;
    margin-right: 2rem;
    margin-left: 2rem;
}
.cont_right_big {
    font-size: 3rem;
    font-weight: bold;
}
.cont_right_small {
    margin-top: 1rem;
    font-size: 1.5rem;
}
.cont_right img{
    margin-right: 1rem;
    margin-bottom: 1rem;
    margin-top: 7rem;
}
.info{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #DADADA;
    margin-top: 15rem;
}
.info_right {
    margin-left: auto;
    display: block;
}
.info_left{
    display: flex;
    justify-content: flex-start;
    font-size: 2rem;
    margin-left: 7rem;
    margin-top: 10rem;
    color: #585858;
    font-family: 'Orelega One',sans-serif;
    text-align: center;
}
.trend{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.text0{
    display: flex;
    justify-content: center;
    font-size: 3rem;
    margin-top: 5rem;
}
.text1{
    display: flex;
    justify-content: center;
}
.text1 img{
    margin-top: 3rem;
    display: flex;
    justify-content: center;
}
.get_start{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.text2{
    margin-right: 40rem;
    font-family: 'Secular One', sans-serif;
    font-weight: bold;
    margin-top: 7rem;
    position: absolute;
    font-size: 5rem;
    color:#ffffff;
}
.btn0{
    position: absolute;
    margin-top: 15rem;
    margin-right: 40rem;
    display: inline-block;
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 0.5rem;
}
.btn0 a{
    text-decoration: none;
    font-size: 1.2rem;
    color:#000000;
    font-weight: bold;
    letter-spacing: 0.3rem;
}
.get_start_img{
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}
.get_start_img img{
    width: 90%;
    height: 90%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bottom{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: row;
    background-color: #255BAD;
    margin: 0 auto;
    font-size: 2rem;
    color: #ffffff;
    margin-top: 5rem;
}
.bottom_logo {
    display: flex;
    justify-content: center;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 4rem;
    margin-left: 3rem;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 58px;
    color: white;
}
.bottom_left{
    display: flex;
    flex-direction: column;
    margin-left: 7rem;
}
.b_head {
    margin-top: 3rem;
    margin-bottom: 1rem;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: white;
}
.b_details {
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    color: white;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.bottom_center{
    display: flex;
    flex-direction: column;
    margin-left: 7rem;
}
.bottom_right{
    display: flex;
    flex-direction: column;
    margin-left: 7rem;
}
.sep_map{
    font-family:'Inter',sans-serif;
    margin: 0;
    display:flex;
}

.contact_header{
    font-size: 4rem;
    font-weight:bold;
    margin-top: 4rem;
    margin-left: 4rem;
    width: 70%;
}
.contact_detail_h{
    justify-content: flex-start;
    font-size:1.5rem;
    margin-left:6rem;
    margin-top:3.5rem;
    font-weight: bold;
    color: #565656;
    width: 15%;
}
.contact_detail_p{
    justify-content: flex-start;
    font-size:1.5rem;
    margin-left:6rem;
    margin-top:1rem;
    color: #565656;
    width: 70%;
}
.contact_button{
    display:inline-block;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #4353FF;
    padding: 1rem;
    margin-left: 6rem;
    margin-top: 2rem;
}
.contact_button:hover {
    background-color: #5d6aff;
}
.contact_button a{
    text-decoration: none;
    color: #ffffff;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
}

.map{
    margin-top: 5rem;
    justify-content: flex-end;
    margin-right: 1.5rem;
}