{% extends 'frontend/base.html' %}
{% block title %} Add Hotel | {% endblock title %}
{% load static %}
{% block content %}
	<div class="contact_detail_p">
        <center>
            <img src="{% static 'img/logoBlack.svg' %}" width="150">
            <h1>Hotel Adding System</h1><hr>
        </center>
        {% if addnew %}
            <center>
            <div class="alert alert-success alert-dismissible fade show" row="alert">
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                <strong>Success!</strong> {{addnew}}
            </div>
            </center>
        {% endif %}
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <label for="name">Hotel Name</label>
                <input type="text" class="form-control" id="name" name="name" required>
            </div><br>
            <div class="form-group">
                <label for="address">Address</label>
                <textarea class="form-control" rows="5" id="address" name="address" required></textarea>
            </div><br>
            <div class="form-group">
                <label for="detail">Description</label>
                <textarea class="form-control" rows="5" id="detail" name="detail" placeholder="Please enter details for customers to understand briefly." required></textarea>
            </div><br>
            <div class="form-group">
                <label for="picture">Hotel Picture Cover</label>
                <input type="file" class="form-control-file" id="picture" name="picture">
            </div><br>
            <button type="submit" class="btn btn-success">Adding Hotel</button>
        </form>
    </div>
{% endblock content %}