{% extends 'frontend/base2.html' %}
{% load static %}
{% load humanize %}
{% block title %} All Book | {% endblock title %}
{% block content %}
    <br><br><br><br>
    <div class ="containerbody">
        <div class="container">
            <center>
                <br><img src="{% static 'img/pvlogopayment.svg' %}" width="160">
                <h1>All {{user.username}}'s Bookings</h1>
                <h5 style="color:rgb(160, 0, 0)">You have {{allbooking|length}} booking in total (unpaid)<h5>
            </center><hr>
            {% if waitadmin %}
                <center>
                <div class="alert alert-success alert-dismissible fade show" row="alert">
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    <strong>Thank you for your payment!</strong> {{waitadmin}}
                </div>
                </center>
            {% endif %}
            <table class="table table-striped table-dark">
                <thead>
                    <tr>
                        <th scope="col">Order</th>
                        <th scope="col">RN</th>
                        <th scope="col">Type</th>
                        <th scope="col">Hotel</th>
                        <th scope="col">Rate</th>
                        <th scope="col">Night(s)</th>
                        <th scope="col">Price</th>
                        <th scope="col">Detail</th>
                        <th scope="col">Status</th>
                    </tr>
                </thead>
                <tbody>
			        <form method="POST">
                        {% csrf_token %}
                        {% for book in allbooking %}
                            <tr>
                                <th scope="row">{{forloop.counter}}</th>
                                <td>{{book.room.Room_Number}}</td>
                                <td>{{book.room.roomtype.Type_Name}}</td>
                                <td>{{book.room.hotel.Hotel_Name}}</td>
                                <td>฿{{book.room.roomtype.Type_Pernight|intcomma}} / night</td>
                                <td>{{book.Transaction_Night|intcomma}}</td>
                                <td>฿{{book.Transaction_Price|intcomma}}</td>
                                <td>{{book.Transaction_Detail}}</td>
                                {% comment %} <td><button type="button" class="btn btn-danger" name="getbookid" value="{{book.id}}">Delete</button></td> {% endcomment %}
                                <td><button type="submit" class="btn btn-danger" name="getbookid" value="{{book.id}}">Delete</button></td>
                            </tr>
                        {% endfor %}
                    </form>
                </tbody>
            </table>
            {% if firstprice %}
                <h6 style="color:red">Not including withholding tax (10% VAT)</h6>
                <h2>First Price: {{firstprice|intcomma}} Baht</h2>
                <form method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="promocode" style="color:green">You can choose to use the promotion to receive a discount!</label>
                        <select class="form-control form-control" id="promocode" name="promocode" style="width:315px;">
                            <option selected>--------------- NOT SELECT ---------------</option>  <!-- default -->
                            {% for i in allpromo %}
                                <option>PRO{{i.id}} - {{i.Promotion_Name}} ({{i.Promotion_Discount|floatformat:0}}%)</option>
                            {% endfor %}
                        </select>
                    </div><br>
                    <td><button type="submit" class="btn btn-info" name="confirm">Calculate Total Price</button></td>
                </form>
                {% if TotalPrice %}
                    <h3>Discount: {{discount|floatformat:2|intcomma}} Baht</h3>
                    <h3>VAT 10%: {{vat|floatformat:2|intcomma}} Baht</h3>
                    <h1>Total Price: <span style="color:green;">{{TotalPrice|floatformat:2|intcomma}}</span> Baht</h1>
                    <p style="color:blue">Please transfer money to Kasikorn Bank account.<br>Account number: 732-289-1462. <span style="color:red">**อย่าโอนมาจริงๆ ขอร้อง**</span></p>
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="slip">Upload Slip: </label>
                            <input type="file" class="form-control-file" id="slip" name="slip" required>
                        </div>
                        <div class="form-group">
                            <label for="bank">Transfer bank: </label>
                            <select class="form-control form-control" id="bank" name="bank" style="width:75px;">
                                <option>SCB</option>
                                <option>BBL</option>
                                <option>KBANK</option>
                                <option>UOB</option>
                                <option>BAY</option>
                                <option>KTB</option>
                                <option>TMB</option>
                                <option>TBANK</option>
                                <option>CIMB</option>
                                <option>LH</option>
                            </select>
                            <input type="hidden" id="vat" name="vat" value="{{vat|floatformat:2}}">
                            <input type="hidden" id="allprice" name="allprice" value="{{TotalPrice|floatformat:2}}">
                            <input type="hidden" id="hpromocode" name="hpromocode" value="{{hpromocode}}">
                        </div>
                        <div class="form-group">
                            <label for="time">Transfer Time: </label>
                            <input type="datetime-local" class="form-control" id="time" name="time" format-value="yyyy-MM-ddTHH:mm" style="width:250px;" required>
                        </div><br>
                        <td><button type="submit" class="btn btn-success" name="pay">Send payment confirmation slip</button></td>
                    </form>
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock content %}