{% extends 'frontend/base2.html' %}
{% load static %}
{% load humanize %}
{% block title %} Analytic | {% endblock title %}
{% block content %}
    <br><br><br><br>
    <div class ="containerbody">
        <div class = "container-fluid">
            <div class = "display-2">
                Advanced Analysis Report
            </div><hr><br>
            <center>
                <h1 style="color:rgb(212, 172, 13)"><i>Top five most rated hotels</i></h1>
            </center> 
            <table class="table table-hover">
                <thead>
                    <tr>
                    <th scope="col">Rank</th>
                    <th scope="col">Hotel ID</th>
                    <th scope="col">Hotel Name</th>
                    <th scope="col">Hotel Address</th>
                    <th scope="col">Hotel Rating</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in AN1 %} 
                        <tr>
                            <th scope="row">{{forloop.counter}}</th>
                            <td>H{{i.id}}</td>
                            <td>{{i.Hotel_Name}}</td>
                            <td>{{i.Hotel_Address}}</td>
                            <td>{{i.Hotel_Detail|floatformat:2}} / 5 stars</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table><br>
            <center>
                <h1 style="color:rgb(231, 76, 60)"><i>Top five most booked hotels</i></h1>
            </center> 
            <table class="table table-hover">
                <thead>
                    <tr>
                    <th scope="col">Rank</th>
                    <th scope="col">Hotel ID</th>
                    <th scope="col">Hotel Name</th>
                    <th scope="col">Hotel Address</th>
                    <th scope="col">Booked Number</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in AN2 %} 
                        <tr>
                            <th scope="row">{{forloop.counter}}</th>
                            <td>H{{i.id}}</td>
                            <td>{{i.Hotel_Name}}</td>
                            <td>{{i.Hotel_Address}}</td>
                            <td>{{i.Hotel_Detail|intcomma}} times</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table><br>
            <center>
                <h1 style="color:rgb(136, 78, 160)"><i>Top five most booked room types</i></h1>
            </center> 
            <table class="table table-hover">
                <thead>
                    <tr>
                    <th scope="col">Rank</th>
                    <th scope="col">Type ID</th>
                    <th scope="col">Room Name</th>
                    <th scope="col">Room Capacity</th>
                    <th scope="col">Price / Night</th>
                    <th scope="col">Booked Number</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in AN3 %} 
                        <tr>
                            <th scope="row">{{forloop.counter}}</th>
                            <td>TY{{i.id}}</td>
                            <td>{{i.Type_Name}}</td>
                            <td>{{i.Type_Capacity|intcomma}} people</td>
                            <td>฿{{i.Type_Pernight|intcomma}}</td>
                            <td>{{i.Type_Detail|intcomma}} times</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table><br>
            <center>
                <h1 style="color:rgb(46, 134, 193)"><i>Top five members with the most PV-Points</i></h1>
            </center> 
            <table class="table table-hover">
                <thead>
                    <tr>
                    <th scope="col">Rank</th>
                    <th scope="col">Member ID</th>
                    <th scope="col">Username</th>
                    <th scope="col">Firstname</th>
                    <th scope="col">Lastname</th>
                    <th scope="col">Date Joined</th>
                    <th scope="col">PV-Point</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in AN4 %} 
                        <tr>
                            <th scope="row">{{forloop.counter}}</th>
                            <td>M{{i.id}}</td>
                            <td>{{i.user.username}}</td>
                            <td>{{i.user.first_name}}</td>
                            <td>{{i.user.last_name}}</td>
                            <td>{{i.user.date_joined}}</td>
                            <td>{{i.Member_Point|intcomma}} pts.</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table><br>
            <center>
                <h1 style="color:rgb(23, 165, 137)"><i>Latest ten reviews about our hotels</i></h1>
            </center> 
            <table class="table table-hover">
                <thead>
                    <tr>
                    <th scope="col">Order</th>
                    <th scope="col">TID</th>
                    <th scope="col">MID</th>
                    <th scope="col">Hotel Name</th>
                    <th scope="col">Room Type</th>
                    <th scope="col">PID</th>
                    <th scope="col">Night(s)</th>
                    <th scope="col">Price</th>
                    <th scope="col">Rating</th>
                    <th scope="col">Comment</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in AN5 %} 
                        <tr>
                            <th scope="row">{{forloop.counter}}</th>
                            <td>T{{i.id}}</td>
                            <td>M{{i.member.id}}</td>
                            <td>{{i.room.hotel.Hotel_Name}}</td>
                            <td>{{i.room.roomtype.Type_Name}}</td>
                            {% if i.payment.promotion %}
                                <td>PRO{{i.payment.promotion.id}}</td>
                            {% else %}
                                <td>-</td>
                            {% endif %}
                            <td>{{i.Transaction_Night|intcomma}}</td>
                            <td>฿{{i.Transaction_Price|intcomma}}</td>
                            {% if i.Transaction_Rating %}
                                <td>{{i.Transaction_Rating}}/5</td>
                            {% else %}
                                <td>-</td>
                            {% endif %}
                            {% if i.Transaction_Comment %}
                                <td>{{i.Transaction_Comment}}</td>
                            {% else %}
                                <td>-</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock content %}