{% extends 'frontend/base.html' %}
{% block title %} Profile | {% endblock title %}
{% block content %}
	<div class="contact_detail_p">
		<center>
			<h1>My Profile: {{profileInfo.username}}</h1><hr>
		</center>
		<form method="POST">
			{% csrf_token %}
			{% if notyet %}
				<center>
				<div class="alert alert-danger alert-dismissible fade show" row="alert">
					<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
					{{notyet}}
				</div>
				</center>
			{% endif %}
			<div class="form-group">
				<label for="fname">First name</label>
				<input type="text" class="form-control" id="fname" name="fname" value="{{profileInfo.first_name}}" required>
			</div><br>
			<div class="form-group">
				<label for="lname">Last name</label>
				<input type="text" class="form-control" id="lname" name="lname" value="{{profileInfo.last_name}}" required>
			</div><br>
			<div class="form-group">
				<label for="email">Email</label>
				<input type="text" class="form-control" id="email" name="email" value="{{profileInfo.email}}" required>
			</div><br>
			<hr>
			<div class="form-check form-group">
				<label>กรุณาเลือกที่โรงแรมแบบที่ท่านสนใจ</label><br>
				<input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked>
					<label class="form-check-label" for="flexCheckDefault">
						Hotel
					</label>
			</div>
			<div class="form-check">
				<input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
				<label class="form-check-label" for="flexCheckChecked">
					Resort
				</label>
			</div>
			<div class="form-check">
				<input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
				<label class="form-check-label" for="flexCheckChecked">
					Love Hotel & Night Club
				</label>
			</div>
			<hr>
			<div class="form-check">
				<label>ต้องการรับข้อมูลข่าวสารหรือไม่</label><br>
				<input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
				<label class="form-check-label" for="flexRadioDefault1">
					ต้องการ
				</label>
			</div>
			<div class="form-check">
				<input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
				<label class="form-check-label" for="flexRadioDefault2">
					ไม่ต้องการ
				</label>
			</div><br>
			<button type="submit" class="btn btn-warning">Save Changes</button>
		</form>
	</div>
{% endblock content %}