{% extends 'frontend/base.html' %}
{% block title %} Register | {% endblock title %}
{% block content %}
    <div class="contact_detail_p">
        <center>
            <h1>Sign up for a membership to use the website</h1><hr>
        </center>
        {% if danger_message1 %}
            <center>
            <div class="alert alert-danger alert-dismissible fade show" row="alert">
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                <strong>Incorrect!</strong> {{danger_message1}}
            </div>
            </center>
        {% endif %}
        {% if danger_message2 %}
            <center>
            <div class="alert alert-danger alert-dismissible fade show" row="alert">
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                <strong>Incorrect!</strong> {{danger_message2}}
            </div>
            </center>
        {% endif %}
        {% if danger_message3 %}
            <center>
            <div class="alert alert-danger alert-dismissible fade show" row="alert">
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                <strong>Incorrect!</strong> {{danger_message3}}
            </div>
            </center>
        {% endif %}
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <label for="nic">National ID Card or Passport No.</label>
                <input type="text" class="form-control" id="nic" name="nic" value="{{GetNIC}}" required>
            </div><br>
            <div class="form-group">
                <label for="fname">First name</label>
                <input type="text" class="form-control" id="fname" name="fname" value="{{GetFirstname}}" required>
            </div><br>
            <div class="form-group">
                <label for="lname">Last name</label>
                <input type="text" class="form-control" id="lname" name="lname" value="{{GetLastname}}" required>
            </div><br>
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username" name="username" value="{{GetUsername}}" required>
            </div><br>
            <div class="form-group">
                <label for="password1">Password</label>
                <input type="password" class="form-control" id="password1" name="password1" required>
            </div><br>
            <div class="form-group">
                <label for="password2">Confirm Password</label>
                <input type="password" class="form-control" id="password2" name="password2" required>
            </div><br>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" name="email" value="{{GetEmail}}" required>
            </div><br>
            <div class="form-group">
                <label for="tel">Tel</label>
                <input type="text" class="form-control" id="tel" name="tel" value="{{GetTel}}" required>
            </div><br>
            <div class="form-group">
                <label for="address">Address</label>
                <textarea type="form-comment" class="form-control" rows="5" id="address" name="address" required>{{GetAddress}}</textarea>
            </div><br>
            <p style="font-size:15">To suit our frame when exhibiting, we recommend using a 1:1 scale of the photo !<p>
            <div class="form-group">
                <label for="picture">Profile Photo:</label>
                <input type="file" class="form-control-file" id="picture" name="picture">
            </div><br>
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>

{% endblock content %}