{% extends 'frontend/base2.html' %}
{% load static %}
{% block title %} Send News | {% endblock title %}
{% block content %}
    <br><br><br><br>
    <div class ="containerbody">
        <div class="container">
            <center>
                <br><img src="{% static 'img/logoblack.svg' %}" width="150">
                <h1>Sending News System</h1>
            </center><hr>
            {% if send_success %}
                <center>
                <div class="alert alert-success alert-dismissible fade show" row="alert">
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
                    <strong>Success!</strong> {{send_success}}
                </div>
                </center>
            {% endif %}
            {% if send_fail %}
                <center>
                <div class="alert alert-danger alert-dismissible fade show" row="alert">
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
                    <strong>Fail!</strong> {{send_fail}}
                </div>
                </center>
            {% endif %}
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="receiver">Member</label>
                    <select class="form-control form-control" id="receiver" name="receiver" required>
                        {% for mem in memberlist %}
                            <option>M{{mem.id}} - {{mem.first_name}} {{mem.last_name}} ({{mem.username}})</option>
                        {% endfor %}
                    </select>
                </div><br>
                <div class="form-group">
                    <label for="topic">News Topic</label>
                    <select class="form-control form-control" id="topic" name="topic" required>
                        {% for news in newslist %}
                            <option>N{{news.id}} - {{news.News_Name}}, {{news.News_Detail|truncatechars:70}}</option>
                        {% endfor %}
                    </select>
                </div><br>
                <button type="submit" class="btn btn-outline-primary">Send News</button>
            </form>
        </div>
    </div>
{% endblock content %}