{% extends 'hotelapp/base.html' %}
{% block title %} หน้าชั่วคราวสำหรับทดสอบเชื่อมฐานข้อมูล | {% endblock title %}
{% block content %}
<body>
    <h2>Webframework Connection - Fetch from MySQL (phpMyAdmin)</h2>
    <hr/>
    <center>
        <a href='#'><button type="button" class="btn btn-primary" >AllBook</button></a>
        <a href='#'><button type="button" class="btn btn-primary" >GetNews</button></a>
        <a href='#'><button type="button" class="btn btn-primary" >Hotel</button></a>
        <a href='#'><button type="button" class="btn btn-primary" >Member</button></a>
        <a href='#'><button type="button" class="btn btn-primary" >News</button></a>
        <a href='#'><button type="button" class="btn btn-primary" >Payment</button></a><br><br>
        <a href='#'><button type="button" class="btn btn-primary" >Promotion</button></a>
        <a href='#'><button type="button" class="btn btn-primary" >Room</button></a>
        <a href='#'><button type="button" class="btn btn-primary" >RoomType</button></a>
        <a href='#'><button type="button" class="btn btn-primary" >StaffManager</button></a>
        <a href='#'><button type="button" class="btn btn-primary" >Transaction</button></a><br><br>
        <a href="https://youtu.be/sbCUP85vIHI"><button type="button" class="btn btn-danger">Explore (Don't Click it's under construction)</button></a><br><br>
    </center>
    <h4>StaffManager Table</h4>
    <center>
    <table class="table table-bordered">
        <tr>
            <th>Order</th>
            <th>Staff_Id</th>
            <th>Hotel_Id</th>
            <th>Staff_Name</th>
            <th>Position</th>
            <th>Degree</th>
        </tr>
        {% for test in StaffManagerTest %}
        <tr>
            <td>{{test.id}}</td>
            <td>{{test.Staff_Id}}</td>
            <td>{{test.Hotel_Id}}</td>
            <td>{{test.Staff_Name}}</td>
            <td>{{test.Position}}</td>
            <td>{{test.Degree}}</td>
        </tr>
        {% endfor %}
    </table>
    </center>
    <h4>News Table</h4>
    <center>
    <table class="table table-bordered">
        <tr>
            <th>Order</th>
            <th>News_Id</th>
            <th>News_Name</th>
            <th>News_Detail</th>
        </tr>
        {% for test in NewsTest %}
        <tr>
            <td>{{test.id}}</td>
            <td>{{test.News_Id}}</td>
            <td>{{test.News_Name}}</td>
            <td>{{test.News_Detail}}</td>
        </tr>
        {% endfor %}
    </table>
    </center>
</body>
{% endblock content %}