{% extends 'hotelapp/basePup.html' %}
{% load static %}
{% block title %} Home | {% endblock title %}
{% block content %}

    <div class = "below_menu">
        <div class = "below_left">
            Best Hotel<br>Booking<br>Website.
        </div>
        <div>
            <div class = "intro_text">Become a member and start booking now.<br>Over 100+ Hotels available with amazing offers.</div>
            <div class = "below_menu_button"><a href="{% url 'plans-page' %}">START BOOKING</a></div>
        </div>
    </div>

    <div class = "intro">
        <div class="centered"><br><br>
            Discover many hotels<br>all around Thailand.
        </div>
        <div>
            <img src="{% static 'img/hotel image 1.svg' %}">
        </div>
    </div>

    <div class = "content">
        <div class = "cont_left">
            <div class = "cont_left_big">
                All hotel informations in<br>one place
            </div>
            <div class = "cont_left_small">
                there are lot of info nice
            </div>
            <div>
                <img src="{% static 'img/headphone.svg' %}">
            </div>
        </div>
        <div class = "cont_right">
            <div>
                <img src="{% static 'img/mouse_key.svg' %}">
            </div>
            <div class = "cont_right_big">
                Follow latest news and<br>promotions
            </div>
            <div class = "cont_right_small">
                wow promotions offer and news
            </div>
        </div>
    </div>

    <div class = "info">
        <div class = "info_left">
            ห้องพักผ่อนคล้าย ราคาสบายกระเป๋า
        </div>
        <div class = "info_right">
            <img src="{% static 'img/bed.svg' %}">
        </div>
    </div>

    <div class = "trend">
        <div class = "text0">
            Trending In Thailand
        </div>
        <div class = "text1">
            <img src="{% static 'img/city.svg' %}">
        </div>
    </div>

    <div class = "get_start">
        <div class = "text2">
            Get Started
        </div>
        <div class = "btn0">
            <a href="start_book.html">START BOOKING</a>
        </div>
    </div>

{% endblock content %}