{% extends 'frontend/base2.html' %}
{% load static %}
{% block title %} About Us | {% endblock title %}
{% block content %}
    <div class="containerbody">
        <div class = "row">
            <div class="col p-5">
                <div class = "display-2">
                    PoonVeh Headquater<hr>
                </div>
                <div class = "mt-5">
                    <h2>Witsawawattana Building</h2>
                </div>
                <div class = "mt-3">
                    <h4>PoonVeh Hotel Resort & Spa<br>Pub Co., Ltd.<br>forks from <a href="https://www.kmutt.ac.th/en">KMUTT</a></h4>
                </div><br>
                <a class="btn btn-outline-primary" href="{% url 'contact-page' %}">CONTACT OUR SUPPORT</a>
            </div>
            <div class = "col p-5">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3877.106954518949!2d100.49425411429054!3d13.651257403294656!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30e2a251bb6b0cf1%3A0xf656e94ff13324ad!2sKing%20Mongkut%E2%80%99s%20University%20of%20Technology%20Thonburi(KMUTT)!5e0!3m2!1sen!2sth!4v1651326937731!5m2!1sen!2sth" width="800" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
        <div class="container">
            <h1>Terms of services</h1>
            The hotel management system is a database that contains the following:<br>&emsp;
            1. A hotel booking system that allows users to pick a room from a hotel, pick a specific date, and view details about the hotel<br>&emsp;
            2. A function to register new hotels to the database that only the admin can use.<br>&emsp;
            3. A function to register new members to the database, where every member contains information about the members and any guest users can use.<br>&emsp;
            4. A news information system, which is connected to membership, where users can view news that is created by the hotel managers.<br>&emsp;
            5. A transaction system where users can create new transactions and hotel managers can remove transactions after completion.<br>&emsp;
            6. A payment system where users can add banking information that is used for transactions.<br>&emsp;
            7. A promotion system, which is connected to the payment system, that hotel managers can add to the database and users can view.<br>&emsp;
            8. A rating system, which is connected to hotel detail, where only users can add ratings to each hotel for other users, hotel managers, and staff to view.<br>&emsp;
            9. Users can view details about the hotel which include room, staff, and ratings which only the admin and manager can edit.<br>
            <br><h1>About us</h1>
            We're a group of dedicated students in the second year of the Department of Computer Engineering at <a href="https://en.wikipedia.org/wiki/King_Mongkut%27s_University_of_Technology_Thonburi" target="_blank">KMUTT</a>. We're developing a project on the hotel database system to help with traveller's hotel reservations.<br><br>
            This is the project that the authors are pleased with. We've completely abandoned our splendid Songkran lives to assist in the creation both of the front-end and back-end stuffs. Please have mercy on us and lead us to the path of the eternal brightness.<br>
            <br><h1>Keep in touch</h1>
            <a href="https://www.facebook.com/" target="_blank"><button type="button" class="btn btn-outline-primary">Facebook</button></a>&nbsp;
            <a href="https://www.instagram.com/" target="_blank"><button type="button" class="btn btn-outline-warning">Instagram</button></a>&nbsp;
            <a href="https://sendgrid.com/" target="_blank"><button type="button" class="btn btn-outline-success">Email</button></a>&nbsp;
            {% comment %} <a href="https://tinder.com/" target="_blank"><button type="button" class="btn btn-outline-danger">Tinder</button></a>&nbsp; {% endcomment %}
            {% comment %} <a href="https://onlyfans.com/" target="_blank"><button type="button" class="btn btn-outline-info">Onlyfans</button></a><br><br> {% endcomment %}
            <!-- LoL -->
            <a href="https://www.youtube.com/watch?v=sbCUP85vIHI" target="_blank"><button type="button" class="btn btn-outline-danger">Tinder</button></a>&nbsp;
            <a href="https://www.youtube.com/watch?v=RNhxITKEuxI&t=41s" target="_blank"><button type="button" class="btn btn-outline-info">Onlyfans</button></a><br><br>
            The KMUTT License is a permissive free software license originating at the King Mongkut's University of Technology Thonburi in the early 2022s. As a permissive license, it puts only very limited restriction on reuse and has, therefore, high license compatibility. The KMUTT License is compatible with many copyleft licenses, such as the GNU General Public License (GNU GPL). Any software licensed under the terms of the KMUTT License can be integrated with software licensed under the terms of the GNU GPL.<br><br>
            <center>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/3rH2KWFF1N8?start=1&autoplay=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <h4>KMUTT License@2022 Standard Chartered</h4>
            </center><br>
        </div>
    </div>
{% endblock content %}