{% extends 'frontend/base2.html' %}
{% block title %} Add News | {% endblock title %}
{% load static %}
{% block content %}
    <br><br><br><br>
    <div class ="containerbody">
        <div class ="container">
            <center>
                <br><img src="{% static 'img/logoBlack.svg' %}" width="150">
                <h1>News Adding System</h1><hr>
            </center>
            {% if addnew %}
                <center>
                <div class="alert alert-success alert-dismissible fade show" row="alert">
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    <strong>Success!</strong> {{addnew}}
                </div>
                </center>
            {% endif %}
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <label for="name">News Name</label>
                    <input type="text" class="form-control" id="name" name="name" required>
                </div><br>
                <div class="form-group">
                    <label for="detail">Description</label>
                    <textarea class="form-control" rows="5" id="detail" name="detail" placeholder="Please enter details for customers to understand briefly." required></textarea>
                </div><br>
                <div class="form-group">
                    <label for="picture">News Picture Cover: </label>
                    <input type="file" class="form-control-file" id="picture" name="picture">
                </div><br>
                <button type="submit" class="btn btn-success">Adding News</button>
            </form>
        </div>
    </div>
{% endblock content %}