{% extends 'frontend/base2.html' %}
{% load static %}
{% load humanize %}
{% block title %} Books List | {% endblock title %}
{% block content %}
    <br><br><br><br>
    <div class ="containerbody">
        <div class="container">
            <center>
                <br><img src="{% static 'img/logo_book.svg' %}" width="160">
                <h1>Payment Verification System</h1>
                <h5 style="color:brown">There are currently {{booklist|length}} pending reservations.<h5>
            </center><hr>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Order</th>
                        <th scope="col">Bank</th>
                        <th scope="col">Promo Code</th>
                        <th scope="col">Vat 10%</th>
                        <th scope="col">Total Price</th>
                        <th scope="col">Payment Date</th>
                        <th scope="col">Slip</th>
                        <th scope="col">Confirm</th>
                        <th scope="col">Reject</th>
                    </tr>
                </thead>
                <tbody>
			        <form method="POST">
                        {% csrf_token %}
                        {% for list in booklist %}
                            <tr>
                                <th scope="row">{{forloop.counter}}</th>
                                <td>{{list.Payment_Banking}}</td>
                                <td>PRO{{list.promotion.id}}</td>
                                <td>฿{{list.Payment_Vat10|floatformat:2|intcomma}}</td>
                                <td>฿{{list.Payment_Allprice|floatformat:2|intcomma}}</td>
                                <td>{{list.Payment_Date}}</td>
                                <td><a href="{{list.Payment_Slip.url}}"><i class="fa fa-file" style="font-size:30px; color:grey;"></i></a></td>
                                <td><button type="submit" class="btn btn-success" name="accept" value="{{list.id}}">Accept</button></td>
                                <td><button type="submit" class="btn btn-danger" name="deny" value="{{list.id}}">Deny</button></td>
                            </tr>
                        {% endfor %}
                    </form>
                </tbody>
            </table>
        </div>
    </div>
{% endblock content %}