{% extends 'frontend/base2.html' %}
{% load static %}
{% block title %} Contact Us | {% endblock title %}
{% block content %}
    <br><br><br><br>
    <div class ="containerbody">
        <div class="container">
            <center>
                <br><img src="{% static 'img/logoBlack.svg' %}" width="150">
                <h1>Contact Administrator Form</h1>
            </center><hr>
            {% if danger %}
                <center>
                <div class="alert alert-danger">
                    <strong>{{danger}}</strong>
                </div>
                <a href="{%url 'contact-page'%}"><button type="button" class="btn btn-warning">Back</button></a>
                </center>
            {% elif message %}
                <center>
                <div class="alert alert-success">
                    <strong>Success!</strong> {{message}}
                </div>
                </center>
            {% else %}
                <form method="POST">
                    {% csrf_token %}
                    {% comment %} ไม่ต้องใช้ required เพราะ message บอกด้านบน {% endcomment %}
                    <div class="form-group">
                        <label for="title">Topic</label>
                        <input type="text" class="form-control" id="title" name="title" placeholder="Determine the problem or question's focus.">
                    </div><br>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="Email for admins to contact you back.">
                    </div><br>
                    <div class="form-group">
                        <label for="detail">Detail (optional)</label>
                        <textarea type="form-comment" class="form-control" rows="5" id="detail" name="detail" placeholder="Please include as much information as possible about your problem so that the administrator is aware of it."></textarea>
                    </div><br>
                    <button type="submit" class="btn btn-primary">Send</button>
                </form>
            {% endif %}
        </div>
    </div>
{% endblock content %}