{% extends 'frontend/base2.html' %}
{% load static %}
{% block title %} Home | {% endblock title %}
{% block content %}
    <div class="container-fluid px-4" style="margin-top:10rem">
        <div class = "row g-0">
            <div class = "col-sm-6 col-md-8" >
                <h1 class="display-1">Best Hotel<br>Booking<br>Website.</h1>
            </div>
            <div class = "col-6 col-md-4" style="align-items:center">
                <div class = "intro_text"><h3>Become a member and start booking now.<br>Over 100+ Hotels available with amazing offers.</h3></div>
                <div><a class="btn btn-primary btn-lg" href="{% url 'hotels-page' %}">START BOOKING</a></div>
            </div>
        </div>
    </div>
    <div class="container-fluid mt-5">
        <div class = "intro">
            <img class="img-fluid" src="{% static 'img/intro_img.svg' %}">
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <div class = "container-fluid mt-5">
        <div class = "row gx-5">
            <div class = "col">
                <div class = "">
                    <h4 class = "p-2">All hotel informations in<br>one place</h4>
                </div>
                <div class = "cont_left_small">
                    <h5 class = "p-2">there are lot of info nice</h5>
                </div>
                <div>
                    <img class="img-fluid" src="{% static 'img/headphone.svg' %}">
                </div>
            </div>
            <div class = "col">
                <div>
                    <img class="img-fluid" src="{% static 'img/mouse_key.svg' %}">
                </div>
                <div class = "cont_right_big">
                    <h4 class = "p-2">Follow latest news and<br>promotions</h4>
                </div>
                <div class = "cont_right_small">
                    <h5 class = "p-2">wow promotions offer and news</h5>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <div class = "container-fluid mt-5 bg-light">
        <div class = "row">
            <div class = "col text-center mt-5 p-5"><h4>
                "Number one website for booking hotels.<br>
                Nothing moves us quite like music.<br> 
                Hear more details than ever before with quality audio gear"</h4>
            </div>
            <div class = "col">
                <img class = "img-fluid" src="{% static 'img/bed.svg' %}">
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <div class = "container-fluid mt-5">
        <div class = "row">
            <div class = "col">
                <h4>Trending Hotels In Thailand</h4>
            </div>
            <div class = "col">
                <img class="img-fluid" src="{% static 'img/city.svg' %}">
            </div>
        </div>
    </div>
    <div class = "container-fluid mt-5">
        <div class = "row">
            <div class="col">
                <div class = "display-2 px-4">
                    Get Started
                </div>
                <div class = "p-5">
                    <a class = "btn btn-primary btn-lg" href="{% url 'hotels-page' %}">START BOOKING</a>
                </div>
            </div>
            <div class = "col">
                <img class="img-fluid" src="{% static 'img/view.svg' %}">
            </div>
        </div>
    </div>

    <center>
        <h3 style="color:green">Available Hotels</h3>
        {% for ht in HotelHomePage %}
            <h5 style="color:green">{{ht.Hotel_Name}}</h5>
            <p> 
            Hotel ID: H{{ ht.id }}<br>
            Address: {{ ht.Hotel_Address }}<br>
            Rating :
            {% if ht.Hotel_Id in checkhotel %}
                {% for rate in CT3 %}
                    {% if ht.Hotel_Id == rate.0 %}
                        {{ rate.1|floatformat:1 }} / 5 Stars<br>
                    {% endif %}
                {% endfor %}
            {% else %}
                <a style="color:red">No review for {{ ht.Hotel_Id }}</a><br>
            {% endif %}
            </p>
            <hr>
        {% endfor %}
        {%comment%} access python list index
        {{CT3|length}}
        {%for all in CT3%}
            <p>{{all.0}}</p>  
        {%endfor%} {% endcomment %}
    </center>

{% endblock content %}