{% extends 'frontend/base2.html' %}
{% load static %}
{% block title %} Inbox | {% endblock title %}
{% block content %}
    <br><br><br><br>
    <div class ="containerbody">
        <div class="container">
            <center>
                <br><img src="{% static 'img/pvlogonews.svg' %}" width="160">
                <h1>{{user.username}}'s Mailbox</h1>
                <h5 style="color:rgb(0, 105, 115)">You have {{newsinbox|length}} news in total<h5>
            </center><hr>
            <table class="table table-striped table-dark">
                <thead>
                    <tr>
                        <th scope="col">Order</th>
                        <th scope="col">Topic</th>
                        <th scope="col">Detail</th>
                        <th scope="col">Picture</th>
                        <th scope="col">Status</th>
                    </tr>
                </thead>
                <tbody>
			        <form method="POST">
                        {% csrf_token %}
                        {% for inbox in newsinbox %}
                            <tr>
                                <th scope="row">{{forloop.counter}}</th>
                                <td>{{inbox.news.News_Name}}</td>
                                <td>{{inbox.news.News_Detail}}</td>
                                {% if inbox.news.News_Pic %}
                                    <td><a href="{{inbox.news.News_Pic.url}}"><i class="fa fa-camera" style="font-size:30px; color:white;"></i></a></td>
                                {% else %}
                                    <td><i class="fa fa-minus-square" style="font-size:30px; color:white;"></i></td>
                                {% endif %}
                                <td><button type="submit" class="btn btn-danger" name="getnewid" value="{{inbox.id}}">Clear</button></td>
                            </tr>
                        {% endfor %}
                    </form>
                </tbody>
            </table>
        </div>
    </div>
{% endblock content %}