{% extends 'frontend/base.html' %}
{% load static %}
{% block title %} News | {% endblock title %}
{% block content %}
    <div class ="containerbody">
        <div class = "news">
            <div class = "pageheader">
                Latest News<hr>
            </div>
            <div class = "row">
                <div class = "col-33 padding-3" style = "padding-left:2rem;padding-right:2rem" >
                    <div class = "center card">
                        <div style="width:100%">
                            <img style = "width:100%" src="{% static 'img/massage.svg' %}">
                        </div>
                        <div class = "border-1px border-top-none">
                            <div class = "font-normal font-bold-nosize padding-1">
                                Super sales spa
                            </div>
                            <div class = "font-grey padding-2">
                                Slow down time, rain destruction from above in a jet-powered armor suit, 
                                or pilot a superpowered hamster ball: In Overwatch, 
                                every hero has a unique set of devastating abilities.<br><br>1/May/2023
                            </div>
                        </div>
                    </div>
                </div>
                <div class = "col-33 padding-3" style = "padding-left:2rem;padding-right:2rem" >
                    <div class = "center card">
                        <div style="width:100%">
                            <img style = "width:100%" src="{% static 'img/pancake.svg' %}">
                        </div>
                        <div class = "border-1px border-top-none">
                            <div class = "font-normal font-bold-nosize padding-1">
                                Free breakfast
                            </div>
                            <div class = "font-grey padding-2">
                                Slow down time, rain destruction from above in a jet-powered armor suit, 
                                or pilot a superpowered hamster ball: In Overwatch, 
                                every hero has a unique set of devastating abilities.<br><br>30/June/2023
                            </div>
                        </div>
                    </div>
                </div>
                <div class = "col-33 padding-3" style = "padding-left:2rem;padding-right:2rem" >
                    <div class = "center card">
                        <div style="width:100%">
                            <img style = "width:100%" src="{% static 'img/massage.svg' %}">
                        </div>
                        <div class = "border-1px border-top-none">
                            <div class = "font-normal font-bold-nosize padding-1">
                                Super sales spa
                            </div>
                            <div class = "font-grey padding-2">
                                Slow down time, rain destruction from above in a jet-powered armor suit, 
                                or pilot a superpowered hamster ball: In Overwatch, 
                                every hero has a unique set of devastating abilities.<br><br>1/May/2023
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class = "row">
                <div class = "col-33 padding-3" style = "padding-left:2rem;padding-right:2rem" >
                    <div class = "center card">
                        <div style="width:100%">
                            <img style = "width:100%" src="{% static 'img/karaoke.svg' %}">
                        </div>
                        <div class = "border-1px border-top-none">
                            <div class = "font-normal font-bold-nosize padding-1">
                                Super sales spa
                            </div>
                            <div class = "font-grey padding-2">
                                Slow down time, rain destruction from above in a jet-powered armor suit, 
                                or pilot a superpowered hamster ball: In Overwatch, 
                                every hero has a unique set of devastating abilities.<br><br>1/May/2023
                            </div>
                        </div>
                    </div>
                </div>
                <div class = "col-33 padding-3" style = "padding-left:2rem;padding-right:2rem" >
                    <div class = "center card">
                        <div style="width:100%">
                            <img style = "width:100%" src="{% static 'img/freenightdrink.svg' %}">
                        </div>
                        <div class = "border-1px border-top-none">
                            <div class = "font-normal font-bold-nosize padding-1">
                                Free breakfast
                            </div>
                            <div class = "font-grey padding-2">
                                Slow down time, rain destruction from above in a jet-powered armor suit, 
                                or pilot a superpowered hamster ball: In Overwatch, 
                                every hero has a unique set of devastating abilities.<br><br>30/June/2023
                            </div>
                        </div>
                    </div>
                </div>
                <div class = "col-33 padding-3" style = "padding-left:2rem;padding-right:2rem" >
                    <div class = "center card">
                        <div style="width:100%">
                            <img style = "width:100%" src="{% static 'img/karaoke.svg' %}">
                        </div>
                        <div class = "border-1px border-top-none">
                            <div class = "font-normal font-bold-nosize padding-1">
                                Super sales spa
                            </div>
                            <div class = "font-grey padding-2">
                                Slow down time, rain destruction from above in a jet-powered armor suit, 
                                or pilot a superpowered hamster ball: In Overwatch, 
                                every hero has a unique set of devastating abilities.<br><br>1/May/2023
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class = "row">
                <div class = "col-33 padding-3" style = "padding-left:2rem;padding-right:2rem" >
                    <div class = "center card">
                        <div style="width:100%">
                            <img style = "width:100%" src="{% static 'img/pool2.svg' %}">
                        </div>
                        <div class = "border-1px border-top-none">
                            <div class = "font-normal font-bold-nosize padding-1">
                                Super sales spa
                            </div>
                            <div class = "font-grey padding-2">
                                Slow down time, rain destruction from above in a jet-powered armor suit, 
                                or pilot a superpowered hamster ball: In Overwatch, 
                                every hero has a unique set of devastating abilities.<br><br>1/May/2023
                            </div>
                        </div>
                    </div>
                </div>
                <div class = "col-33 padding-3" style = "padding-left:2rem;padding-right:2rem" >
                    <div class = "center card">
                        <div style="width:100%">
                            <img style = "width:100%" src="{% static 'img/pool2.svg' %}">
                        </div>
                        <div class = "border-1px border-top-none">
                            <div class = "font-normal font-bold-nosize padding-1">
                                Free breakfast
                            </div>
                            <div class = "font-grey padding-2">
                                Slow down time, rain destruction from above in a jet-powered armor suit, 
                                or pilot a superpowered hamster ball: In Overwatch, 
                                every hero has a unique set of devastating abilities.<br><br>30/June/2023
                            </div>
                        </div>
                    </div>
                </div>
                <div class = "col-33 padding-3" style = "padding-left:2rem;padding-right:2rem" >
                    <div class = "center card">
                        <div style="width:100%">
                            <img style = "width:100%" src="{% static 'img/pool2.svg' %}">
                        </div>
                        <div class = "border-1px border-top-none">
                            <div class = "font-normal font-bold-nosize padding-1">
                                Free breakfast
                            </div>
                            <div class = "font-grey padding-2">
                                Slow down time, rain destruction from above in a jet-powered armor suit, 
                                or pilot a superpowered hamster ball: In Overwatch, 
                                every hero has a unique set of devastating abilities.<br><br>30/June/2023
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}