{% extends 'frontend/base2.html' %}
{% load static %}
{% block title %} Profile | {% endblock title %}
{% block content %}
    <div class ="containerbody">
		<div class ="container">
			<center>
				<h1>My Profile: {{profileInfo.username}}</h1><hr>
				{% if user.member.Member_Pic %}
					<img src="{{user.member.Member_Pic.url}}" width="300"><br><br>
				{% else %}
					<img src="{% static 'img/bed.svg' %}" width="300"><br><br>
				{% endif %}
				<h5>Member ID: M{{user.id}}</h5>
				<h5>Email: {{profileInfo.email}}</h5>
			</center>
			<form method="POST" enctype="multipart/form-data">
				{% csrf_token %}
				{% if notyet %}
					<center>
					<div class="alert alert-danger alert-dismissible fade show" row="alert">
						<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
						{{notyet}}
					</div>
					</center>
				{% endif %}
				<div class="form-group">
					<label for="fname">First name</label>
					<input type="text" class="form-control" id="fname" name="fname" value="{{profileInfo.first_name}}" required>
				</div><br>
				<div class="form-group">
					<label for="lname">Last name</label>
					<input type="text" class="form-control" id="lname" name="lname" value="{{profileInfo.last_name}}" required>
				</div><br>
				<div class="form-group">
					<label for="nic">National ID Card or Passport No.</label>
					<input type="text" class="form-control" id="nic" name="nic" value="{{profileInfo.member.Member_NIC}}" required>
				</div><br>
				<div class="form-group">
					<label for="tel">Tel</label>
					<input type="text" class="form-control" id="tel" name="tel" value="{{profileInfo.member.Member_Tel}}" required>
				</div><br>
				<div class="form-group">
					<label for="lname">Address</label>
					<textarea type="form-comment" class="form-control" rows="3" id="lname" name="lname" required>{{profileInfo.member.Member_Address}}</textarea>
				</div><br>
				<p style="color:blue">To suit our frame when exhibiting, we recommend using a 1:1 scale of the photo!<p>
				<div class="form-group">
					<label for="picture">Update Profile Picture: </label>
					<input type="file" class="form-control-file" id="picture" name="picture">
				</div><br>
				<hr>
				<div class="form-check form-group">
					<label>กรุณาระบุที่ประเภทโรงแรมที่ท่านสนใจเพื่อเพิ่มการมองเห็นมากขึ้นในหน้าเว็บไซต์</label><br>
					<input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked>
						<label class="form-check-label" for="flexCheckDefault">
							Hotel
						</label>
				</div>
				<div class="form-check">
					<input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
					<label class="form-check-label" for="flexCheckChecked">
						Resort
					</label>
				</div>
				<div class="form-check">
					<input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
					<label class="form-check-label" for="flexCheckChecked">
						Spa & Fitness
					</label>
				</div>
				<hr>
				<div class="form-check">
					<label>ต้องการรับทราบข้อมูลข่าวสารผ่านอีเมลล์หรือไม่</label><br>
					<input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
					<label class="form-check-label" for="flexRadioDefault1">
						ต้องการ
					</label>
				</div>
				<div class="form-check">
					<input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
					<label class="form-check-label" for="flexRadioDefault2">
						ไม่ต้องการ
					</label>
				</div><br>
				<button type="submit" class="btn btn-warning">Save Changes</button>
			</form>
		</div>
	</div>
{% endblock content %}