{% extends 'frontend/base2.html' %}
{% load static %}
{% block title %} Promotions | {% endblock title %}
{% block content %}
    <br><br><br><br>
    <div class ="containerbody">
        <div class = "display-2">
            Our Promotions
        </div><hr>
        {% for row in AllRow %}
        <div class = "row">
            {% for c in row %}
                <div class="col">
                    <div class="card mb-4 rounded-3 shadow-sm">
                        <img class="card-img-top" src="{{c.Promotion_Pic.url}}" width="150" height="300">
                        <div class="card-header py-3">
                            <center><h4 class="my-0 fw-normal">Start: {{c.Promotion_Start}}<br>End: {{c.Promotion_End}}</h4></center>
                        </div>
                        <div class="card-body">
                            <h1 class="card-title pricing-card-title">{{c.Promotion_Name|truncatechars:30}} ({{c.Promotion_Discount|floatformat:0}}%)</h1>
                            <p>{{c.Promotion_Detail|truncatechars:210}}</p>
                            {% if user.member.staff.Staff_Position == 'ADMIN' or user.member.staff.Staff_Position == 'MANAGER' %}
                                <a href="{% url 'promotion-detail' c.id %}"><button type="button" class="w-100 btn btn-lg btn-warning">Edit</button></a>
                            {% else %}
                                <a href="{% url 'promotion-detail' c.id %}"><button type="button" class="w-100 btn btn-lg btn-outline-primary">Details</button></a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% endfor %}
        <ul class="pagination">
            {% if AllPromotion.has_previous and AllPromotion.has_next != True %}
            <li class="page-item"><a class="page-link" href="?page={{AllPromotion.previous_page_number}}"> < </a></li>
            {% if AllPromotion.number|add:-2 > 0 %}
                <li class="page-item"><a class="page-link" href="?page={{AllPromotion.number|add:-2}}">{{AllPromotion.number|add:-2}}</a></li>
            {% endif %}
            <li class="page-item"><a class="page-link" href="?page={{AllPromotion.number|add:-1}}">{{AllPromotion.number|add:-1}}</a></li>
            <li class="page-item active"><a class="page-link" href="?page={{AllPromotion.number}}">{{AllPromotion.number}}</a></li>
            {% endif %}
            {% if AllPromotion.has_previous and AllPromotion.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{AllPromotion.previous_page_number}}"> < </a></li>
            <li class="page-item"><a class="page-link" href="?page={{AllPromotion.number|add:-1}}">{{AllPromotion.number|add:-1}}</a></li>
            <li class="page-item active"><a class="page-link" href="?page={{AllPromotion.number}}">{{AllPromotion.number}}</a></li>
            <li class="page-item"><a class="page-link" href="?page={{AllPromotion.number|add:1}}">{{AllPromotion.number|add:1}}</a></li>
            <li class="page-item"><a class="page-link" href="?page={{AllPromotion.next_page_number}}"> > </a></li>
            {% endif %}
            {% if AllPromotion.has_previous != True and AllPromotion.has_next %}
            <li class="page-item active"><a class="page-link" href="?page={{AllPromotion.number}}">{{AllPromotion.number}}</a></li>
            <li class="page-item"><a class="page-link" href="?page={{AllPromotion.number|add:1}}">{{AllPromotion.number|add:1}}</a></li>
            {% if AllPromotion.number|add:2 <= AllPromotion.paginator.num_pages %}
                <li class="page-item"><a class="page-link" href="?page={{AllPromotion.number|add:2}}">{{AllPromotion.number|add:2}}</a></li>
            {% endif %}
            <li class="page-item"><a class="page-link" href="?page={{AllPromotion.next_page_number}}"> > </a></li>
            {% endif %}
        </ul>
        <p>Page {{AllPromotion.number}} from {{AllPromotion.paginator.num_pages}}</p>
    </div>
{% endblock content %}