body {
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    font-family: 'Cabin', sans-serif;
    margin: 0;
}

.top a{
    position:relative;
    z-index:2;
    font-size:17px;
    color:#000000;
    margin: 0 auto;
    width:80%;
    padding:5;
    letter-spacing:1px;
    font-family: 'Cabin', sans-serif;
    text-decoration: none;
    font-weight: bold;
}

header {
    border:0rem;
    border-bottom: #E0E0E0;
    border-style: solid;
}

header::after {
    content: '';
    display: table;
    clear: both;
}



.top_menu {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-bottom: 10px;
    float: left;
    cursor: pointer;
}

.top_menu li {
    display: inline-block;
    margin-left: 2.5rem;
    padding-top: 1.5rem;
    margin-top: 1rem;
    position: relative;
}

.signupbutton{
    margin-right: 1rem;
    margin-top: 1.5rem;
    padding: 15px;
    float: right;
    /* display: inline-block; (Note: when use inline-block with float got an error)*/
    background-color: #4353FF;
}
.signupbutton a{
    color:#FFFFFF;
}
.loginbutton{
    margin-right: 1rem;
    margin-top: 1.5rem;
    padding: 15px;
    float: right;
    /* display: inline-block; */
    background-color: #E4E4E4;
}
.loginbutton a{
    color:#4353FF;
}
.top_menu li:hover {
    color: #000;
}

.top_menu li::before {
    content: '';
    display: block;
    height: 5px;
    background-color: #444;

    position: absolute;
    top: 0;
    width: 0%;

    transition: all ease-in-out 250ms;
}

.top_menu li:hover::before {
    width: 100%;
}

header h3 {
    font-size: 1.5rem;
    float: left;
    color:#000000;
    padding: 10px 0;
    margin-left: 1rem;
}

.below_menu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.below_menu_button {
    margin-right: 4rem;
    margin-top: 1.5rem;
    padding: 15px;
    display: inline-block;
    background-color: #4353FF;
}
.below_menu_button a {
    color:#FFFFFF;
    text-decoration: none;
    font-family: 'Cabin', sans-serif;
    font-weight: bold;
}
.intro_text{
    display: flex;
    font-size: 1.5rem;
    margin-right: 25rem;
    margin-top: 6rem;
}
.below_left{
    display: flex;
    flex-direction: row;
    margin-left: 5rem;
    font-size: 4.5rem;
    margin-top: 2rem;
}
.intro{
    display: flex;
    justify-content: center;
    font-size: 2rem;
}
.centered {
    position: absolute;
    top: 42%;
    left: 32%;
    transform: translate(-50%, -50%);
    font-size: 5rem;
    color:#FFFFFF;
    margin-top: 10rem;
  }
.intro img{
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.content{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.cont_left{
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    margin-top: 7rem;
    margin-right: 2rem;
}
.cont_left_big {
    font-size: 3rem;
    font-weight: bold;
}
.cont_left_small {
    margin-top: 1rem;
    font-size: 1.5rem;
}
.cont_left img{
    margin-right: 1rem;
    margin-top: 5rem;
}
.cont_right{
    display: flex;
    flex-direction: column;
    margin-right: 2rem;
    margin-left: 2rem;
}
.cont_right_big {
    font-size: 3rem;
    font-weight: bold;
}
.cont_right_small {
    margin-top: 1rem;
    font-size: 1.5rem;
}
.cont_right img{
    margin-right: 1rem;
    margin-bottom: 1rem;
    margin-top: 7rem;
}
.info{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #DADADA;
    margin-top: 15rem;
}
.info_right {
    margin-left: auto;
    display: block;
}
.info_left{
    display: flex;
    justify-content: flex-start;
    font-size: 3rem;
    margin-left: 0rem;
    margin-top: 15rem;
}
.trend{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.text0{
    display: flex;
    justify-content: center;
    font-size: 3rem;
    margin-top: 5rem;
}
.text1{
    display: flex;
    justify-content: center;
}
.get_start{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.text2{
    display: flex;
    justify-content: left;
}
.btn0{
    display: flex;
    justify-content: left;
}
.bottom{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: row;
    background-color: #255BAD;
    margin: 0 auto;
    font-size: 2rem;
    color: #ffffff;
}
.bottom_logo {
    display: flex;
    justify-content: center;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 4rem;
    margin-left: 3rem;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 58px;
    color: white;
}
.bottom_left{
    display: flex;
    flex-direction: column;
    margin-left: 7rem;
}
.b_head {
    margin-top: 3rem;
    margin-bottom: 1rem;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: white;
}
.b_details {
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    color: white;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.bottom_center{
    display: flex;
    flex-direction: column;
    margin-left: 7rem;
}
.bottom_right{
    display: flex;
    flex-direction: column;
    margin-left: 7rem;
}
